{%extends 'base.html'%}
{% block content %}
 </br></br></br></br>
 <div class="container" width="100" style="margin-left:100px; padding-left:50px;">
   <div class="list-group" style = "width:200px; text-align:center;  height:200px;">
     <a href="{%url 'ann'%}" class="list-group-item">Artificial Neural Network (ANN)</a>
     <a href="{%url 'cnn'%}" class="list-group-item">Convolution Neural Network (CNN)</a>
     <a href="{%url 'rnn'%}" class="list-group-item">Recurrent Neural Network (RNN)</a>



 </div>
 </div>
{% endblock %}
