{% extends 'base.html' %}
{% block content %}
</br></br></br></br>
<div class="container">


 <h1><u>About:</u></h1>
 <h5><i>ML Online is an online platform where the machine learning is divided into 4 subtypes Regression, Classification, Clustering and Neural Networks with types of each of the 4 listed. The aim of this project is to provide a brief introduction to all with a working code in an interactive way. A short paragraph/article best describing the sub categories with the most beneficial link(url) for each of them.  Some topics also contains various buttons and input fields to interact with the pre trained model present in the backend and get the result.</i></h5>
</div>
{% endblock %}
