{%extends 'base.html'%}
{% load staticfiles%}
{% block content %}
 <br/><br/><br/><br/>
   <div class="container">
    <h2><u>K Nearest Neighbours Classification:</u></h2>

    <br/>
    <p>The KNN algorithm assumes that similar things exist in close proximity. In other words, similar things are near to each other.KNN captures the idea of similarity (sometimes called distance, proximity, or closeness) with some mathematics we might have learned in our childhood— calculating the distance between points on a graph.</p>
    <p>There are other ways of calculating distance, and one way might be preferable depending on the problem we are solving. However, the straight-line distance (also called the Euclidean distance) is a popular and familiar choice.</p>


    <p><a href="https://towardsdatascience.com/machine-learning-basics-with-the-k-nearest-neighbors-algorithm-6a6e71d01761">Click here to read more</a></p>
    <p>Below is an example of prediction using polynomial regression. Click on <b>View data!</b> to see the dataset</p>
    <p>The example can be seen as a salary predictor of a person who is trying to apply for a job, HR can use this model to check whether the person is lying about his/her salary in previous company in that particular job role. There are 10 levels from 1 -> Buisness Analyst to 10 -> CEO.</p>
    <p>For example if a person says he/her worked as Region Manager(Level 6) and it takes 2 years to promote to a Partner(Level 7). So by entering 6.5 in the model we can get approx salary based on the data provided and the model used.</p>
    <p>Please enter a number between 1 and 10(can be decimal accoding to needs)</p>
    <p><a href="{%static 'knn.py'%}">Click here to see Code!</a></p>
    <div>
    <img src="{%static 'purchased_KNN_train.png'%}" alt="">
    </div>
    <br/>
    <div>
     <img src="{%static 'purchased_KNN_test.png'%}" alt="">
     </div>
   </div>




{% endblock %}
